body{
    font-family: Helvetica;
}
#lewy:nth-child(1){
    /* background-color: red;
    height: 400px; */
    width: 70%;
    background-color: snow;
    text-align: center;
}

#lewy:nth-child(2){
    background-color: red;
    /* height: 400px; */
    width: 70%;
    background-color: snow;
    font-size: 150%;
}

#prawy div:nth-child(1){
    /* height: 150px; */
    width: 120%;
    background-color: steelblue;
    color: white;
    text-align: center;
}

#prawy div:nth-child(2){
    /* height: 350px; */
    width: 120%;
    background-color: steelblue;
    color: white;
}

#prawy div:nth-child(3){
    height: 120px;
    background-color: steelblue;
    width: 120%;

}

#stopka{
    background-color: steelblue;
    color: white;
    /* margin-top: 130px; */
}

h2{
font-size: 250%;
}

img{
    padding: 4px;
}

img:hover{
    padding: 3px;
    border: solid 1px  steelblue;
}

#kontener{
    display: flex;
    flex-direction: row;
}
#lewy{
    display: flex;
    flex-direction: column;
}
#lewy p{
    text-align: left;
}
#prawy h2{
    text-align: center;
}
#prawy{
    display: flex;
    flex-direction: column;
}

#prawy img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#promocje{
    text-align: left;
}